.askedQuestions{
    width: 100%;
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
    padding-top: 100px;
}
.title{
    background-image: url(./../../assets/whatsNewGrid.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 50px;
    text-align: center;

}
.title > h4{
    font-size: 30px;
    font-weight: 700;
    color:#5654E1;
    margin-bottom: 30px;
}
.subtitle{
    width: 80%  ;
    margin-left: auto;
    margin-right: auto;
    color: #a8b3cf;
}
.questions{
    width: 80%  ;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.question{
    display:flex;
    align-items: center;
    justify-content: space-between;
 border-top: 1px solid #393953;
    padding: 20px 0;
}
.plus{
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}
.plus:hover{
    transform: rotate(90deg);
}
.collapse{
    padding: 5px 0 15px  0;
    font-size: 15px;
    opacity: .7;
}
.questions:last-child{
    border-bottom: 1px solid #393953;

}