.carouselContainer {
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.carouselItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #393953;
    padding: 30px 20px 10px 20px ;
    border-radius: 16px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #A59EBA;
    margin-bottom: 10px;

}

.title {
    font-weight: 700;
    font-size: 22px;
    color: #7b53d7;
    margin-bottom: 10px;
    text-align: center;
}

.price {
    color: #A59EBA;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}
.items{
    padding-top: 8px;
}
.content {
    font-weight: 450;
    font-size: 20px;
    margin-top: 7px;
    color: #FFF;
}