.registration {
    width: 100%;
    min-height: 100vh;
    background-image: url(./../../assets/backgroundCube.svg);
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20px calc((100vw - 940px) / 2) 40px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.header {
    width: 100%;
    box-shadow: 1px 12px 15px -3px #000;
    -webkit-background-clip: text;
    border: 1px solid #383d47;
    border-radius: 8px;
    -webkit-box-decoration-break: clone;
    line-height: 48px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

}

.header > h1 {
    font-size:20px;
    font-weight: 530;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.backButton {
    background-image: linear-gradient(#fff, #f5f5ff) !important;
    border-radius: 12px !important;
    color: #000 !important;
    padding: 0 17px !important;
    box-shadow: inset 0 -4px 0 #d5d6e6 !important;
    transition: background-color .7s ease !important;
}

.formContainer {
    width: 100%;
    border: 1px solid #383d47;
    background-image: url(./../../assets/backgroundCube.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 1px 12px 15px -3px #000;
    padding: 30px;
}

.formControl {
    margin-bottom: 15px !important;
}
.select:focus{
font-size: 18px!important;
}
.submitButton{
    background-color: #223B67 !important;
    transition: transform .1s ease, background-color .4s ease !important;
    text-transform: uppercase;
}
.submitButton:hover{
    background-color: transparent!important;
    border: 1px solid #223B67;
    border-radius: 5px;
}
.submitButton:active{
    transform: scale(.9);
}

.priceBox{
    padding: 15px ;
    border: 1px solid #383d47;
    margin-top: 25px;
    border-radius: 5px;
}
.price{
  color: #8bae8b;
    font-weight: 700;

}



@media screen and (min-width: 540px){
    .header  >h1{
        font-size: 30px;
    }
}
@media screen and (min-width: 750px) {
    .header > h1 {
        font-size: 40px;
    }
    .header{
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (min-width: 800px) {
    .formContainer {
        padding: 40px 50px;
    }
    .backButton{
        padding: 0 20px !important;
    }
}
@media screen and (min-width: 900px){

    .header > h1 {
        font-size: 48px;
    }
}