.whatsNew {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-image: url(./../../assets/whatsNewGrid.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header > h3 {
    font-size: 26px;
    margin-bottom: 30px;
    color: yellow;
}

.header > p {
    width: 70%;
    margin-bottom: 30px;
    color: #a8b3cf;
    font-size: 13px;
}

.header > a {
    color: #6966FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.rightArrow {
    height: 20px;
    margin-left: 10px;
}

.boxes {
    width: 100%;

}

.boxes > .content {
    display: flex;
    /*grid-template-columns: repeat(3, 1fr);*/
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    /*background-color: #393953;*/
    border-radius: 12px;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.boxes > .content >.box:last-child{
    margin-top: 50px;
}
.boxes > .content >.box:nth-child(2){
    margin-top: 50px;
}
.box:hover {
    transform: scale(1.05);
}

.boxContent {
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxTitle {
    background-image: url(./../../assets/roundDiv.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
    font-size: 30px;
    border: 4px solid #5654E1;
    border-radius: 16px;
    color: #fff;
    font-weight: 700;
}

.subtitle {
    font-weight: 100;
    color: yellow;
}

.text {
    margin-top: 10px;
    /*color: #fff;*/
    color: #a8b3cf;
    font-weight: 700;
    font-size: 20px;
    word-spacing: -5px;
}
.qeydiyyat{
    width: 100%;
    display: flex;
    align-items: center;
}
.qeydiyyat > button{
    background-color: yellow;
    color: black;
    padding: 5px 8px;
    border-radius: 3px;
}
.qeydiyyat > button:hover{
    background-color: rgba(255, 255, 0, 0.5);
}
.price{
    width: 100%;
    display: flex;
    align-items: center;
}
.manat{
    height: 18px;
    display: inline-block;
    margin-left: 5px;

}
/*Responsive*/
@media screen and (min-width: 400px){
    .boxes > .content {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media screen and (min-width: 500px){


    .header > h3{
        font-size: 28px;
    }
    .header > p{
        font-size: 14px;
    }
    .header > a {
        font-size: 14px;
    }
}

@media screen and (min-width: 570px){
    .boxes > .content {
        padding-right: 100px;
        padding-left: 100px;
    }

}
@media screen and (min-width: 770px){
    .millions{
        width: 100%;
    }
    .header > h3{
        font-size: 30px;
    }
    .header > p{
        font-size: 16px;
    }
    .header > a {
        font-size: 16px;
    }
}
@media screen and (min-width: 950px) {
    .boxes > .content >.box:nth-child(2){
        margin-top: 0;
    }
}
@media screen and (min-width: 1320px){
    .boxes > .content >.box:last-child{
        margin-top: 0;
    }
}