@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {

    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;

}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color:#a8b3cf;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
