
.modalContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.modal {
    background-color: #0E1217;
    width: 440px;
    position: relative;
    border-radius: 10px;

    padding: 20px;
}

.closeButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #a42020 !important;
}

.modalCloseButton {
    background-color: rgba(147, 42, 42, 0.5) !important;
    border: none !important;
    border-radius: 3px !important;
}

.modalCloseButton:hover {
    background-color: #a42020 !important;
}

.modalSubmitButton {
    border-radius: 3px !important;
    background-color: #1c5636 !important;
    color: #fff;
}

.modalSubmitButton:hover {
    background-color: #38A169 !important;

}

.modalBody {
    padding: 10px;

}

.modalBody > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.modalHeader{
    text-align: center;
    font-size:24px;
}